<div class="row">
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-header card-header-info">
                Aucune pépinière de renseignée !
            </div>
            <div class="card-body">
                <h4 class="card-title"> Veuillez d'abord renseigner une pépinière <br/>

                </h4>

                <a href="{{ path('app_admin_nursery_add') }}" type="button" class="btn btn-info">
                    <i class="material-icons">add_circle</i> Ajouter une pépinière
                </a>
            </div>
        </div>
    </div>
</div>
