<ul class="nav nav-pills mb-4">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_equipement2') }}"> Les équipements  </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_pretequipement') }}"> Les prêts d'équipements  </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_entretien') }}"> Entretien  </a>
    </li>



</ul>