{% extends 'admin/base.html.twig' %}
{% import "admin/macros/modals.html.twig" as modals %}

{% set title = 'Liste des rangs' %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"> <a href="{{ path('app_admin_greenhouse_list') }}"> Positions </a> </li>
    <li class="breadcrumb-item" aria-current="page"> <a href="{{ path('app_admin_columnrow_list') }}"> Rangs </a> </li>
{% endblock %}

{% block body %}
    {% include 'admin/position/_nav.html.twig' %}

    {% if nbTableColumn %}
        {% if nbColumnRows %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('app_admin_columnrow_add') }}" class="btn btn-info float-right">
                            <i class="material-icons">add_circle</i> Ajouter un rang
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title "> Les rangs </h4>
                            <p class="card-category"> Liste des rangs des table de cultures </p>
                        </div>
                        <div class="card-body">
                            <table id="tableColumnRow" class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th> ID </th>
                                        <th> Nom </th>
                                        <th width="10%"> Actions </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="card">
                        <div class="card-header card-header-info">
                            Liste des rangs
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"> Aucun rang trouvé <br/>

                            </h4>

                            <a href="{{ path('app_admin_columnrow_add') }}" type="button" class="btn btn-info">
                                <i class="material-icons">add_circle</i> Ajouter un rang
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% include 'admin/position/_includes/_not_found_table_column.html.twig' %}
    {% endif %}
{% endblock %}
