{% extends 'admin/base.html.twig' %}
{% import "admin/macros/modals.html.twig" as modals %}

{% set title = 'Page introuvable' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="title text-danger"> <i class="fa fa-exclamation-triangle"></i> 404 </h1>
                    <h2> Cette page n'existe pas 😥 </h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
